*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: antiquewhite;
}

/* INPUT CSS */
.form-control{
    background-color: black;
    color: aqua;
}


.strike {
    text-decoration: line-through;
    color: gray;
    font-style: italic;
}
/* belong to coding.js */

.strike-through {
    text-decoration: line-through;
    color: #888; /* Makes the text look faded */
    transition: all 0.3s ease; /* Makes the transition smooth */
}